		html{
			font-family: 'Roboto', sans-serif;
			letter-spacing: 1.5px;
		}

		.jumbotron{
			padding-top: 3%;
			padding-bottom:3%;
			font-family: 'Roboto', sans-serif;
		}

		.btn {
		  background-color: #000;
		  border: none;
		  color: #fff;
		  padding: 0.8% 1.2%;
		  cursor: pointer;
		  font-size: 14px;
		  font-family: 'Roboto', sans-serif;
		  text-transform: uppercase;
		  letter-spacing: 1.5px;
		  font-weight: 500;
		  border-radius: 45px;
		  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
		  transition: all 0.3s ease 0s;
		  outline: none;
		}

		/* Darker background on mouse-over */
		.btn:hover:enabled{
		  background-color: #23CBA0;
		  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.3);
		  color: #fff;
		  transform: translateY(-7px);
		}



		.btn:disabled{
			background-color: #fff;
		  border: none;
		  color: #000;
		  padding: 0.8% 1.2%;
		  cursor: not-allowed;
		  font-size: 14px;
		  font-family: 'Roboto', sans-serif;
		  text-transform: uppercase;
		  letter-spacing: 1.5px;
		  font-weight: 500;
		  border-radius: 45px;
		  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
		  
		  outline: none;
		}

		

		#snackbar {
	  visibility: hidden;
	  min-width: 250px;
	  background-color: #25D7A9;
	  color: #fff;
	  text-align: center;
	  border-radius: 2px;
	  padding: 16px;
	  position: fixed;
	  z-index: 1;
	  left: 50%;
	  bottom: 30px;
	  font-size: 14px;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  font-weight: 500;
	  border-radius: 45px;
	  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	  transform: translate(-50%, 0);
	  outline: none;
	}

	#snackbar.show {
	  visibility: visible;
	  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
	  animation: fadein 0.5s, fadeout 0.5s 1.5s;
	}

	#projectID, #clientID, #clientSecret{
		margin-right: 3%;
		background-color: #fff;
		  border: none;
		  color: #000;
		  padding: 0.8% 1.2%;
		  font-size: 14px;
		  font-family: 'Roboto', sans-serif;
		  text-transform: uppercase;
		  letter-spacing: 1.5px;
		  font-weight: 500;
		  border-radius: 45px;
		  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
		  transition: all 0.3s ease 0s;
		  outline: none;
	}

	

	#processingIcon{
		display: none;
	}

	.summary{
		
		font-size:30px;

	}

	#summaryData{
		display: none;
	}

	#summaryData.show {
	  display: block;
	  -webkit-animation: fadein 1.5s;
	  animation: fadein 1.5s;
	}

	#summaryData.hide {
	  display: none;
	  -webkit-animation: fadeout 0.5s;
	  animation: fadeout 0.5s;
	}

	.downloadIcon{
		cursor:pointer;
	}

	.downloadIcon:hover{
		color: #23CBA0;
	}

	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	  background-color: aliceblue;
	}

	#prjTitle{
		cursor: pointer;
		color: blue;
	}

	#snackbar {
	  visibility: hidden;
	  min-width: 250px;
	  background-color: #25D7A9;
	  color: #fff;
	  text-align: center;
	  border-radius: 2px;
	  padding: 16px;
	  position: fixed;
	  z-index: 1;
	  left: 50%;
	  bottom: 30px;
	  font-size: 14px;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  font-weight: 500;
	  border-radius: 45px;
	  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	  transform: translate(-50%, 0);
	  outline: none;
	}

	#snackbar.show {
	  visibility: visible;
	  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
	  animation: fadein 0.5s, fadeout 0.5s 1.5s;
	}
	@-webkit-keyframes fadein {
	  from {bottom: 0; opacity: 0;} 
	  to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadein {
	  from {bottom: 0; opacity: 0;}
	  to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
	  from {bottom: 30px; opacity: 1;} 
	  to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
	  from {bottom: 30px; opacity: 1;}
	  to {bottom: 0; opacity: 0;}
	}
